.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content {
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-content-top {
    width: 642px;
    height: 162px;
    overflow: hidden;
    border-radius: 8px;
}

.form-content-top img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.form-title-name {
    font-size: 32px;
    border-bottom: 2px solid #619E92;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-family: ui-monospace;
}

.form-title-desc {
    font-size: 14px;
    color: #202124;
    border-bottom: 1px solid #2021243d;
    padding-bottom: 5px;
}

.form-content-bottom {
    display: flex;
    float: right;
    gap: 20px;
}

.form-content-bottom button {
    all: unset;
    background-color: #024D3E;
    color: #FFFFFF;
    font-size: 18px;
    padding: 6px 15px;
    border-radius: 5px;
}

.form-content-bottom button:hover {
    cursor: pointer;
    background-color: #024d3eeb;
}