.contact-container {
    margin: 150px 0px;
    width: 50%;
}

.contact-content {
    background-color: #024D3E;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-radius: 20px;
    padding: 50px;
}

.contact-content h1 {
    font-size: 32px;
}

.contact-content label {
    font-size: 18px;
}

.contact-userDetails {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    gap:20px;
}

.contact-userDetails input,
textarea {
    padding: 10px 15px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
}

.contact-name,
.contact-email,
.contact-message {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}
#name,#email,#message::placeholder{
    font-size: 16px;
}
.contact-submit-btn {
    background-color: white;
    color: #024D3E;
    font-size: 18px;
    padding: 10px 50px;
    border-radius: 5px;
}