.nav-container {
    width: 100%;
    /* background-color: #D9DFE5; */
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-login-btn {
    position: relative;
    all: unset;
    border: 1px solid #12AA5B;
    border-radius: 5px;
    height: 40px;
    width: 160px;
    color: #026451;
    background-color: #E9FFF3;
    font-size: 18px;
    font-family: "Outfit", sans-serif;
    text-align: center;
    margin-right: 30px;
}

.nav-login-btn:hover {
    cursor: pointer;
}

.nav-login-btn:active {
    background-color: #ddeee5;
}

.login-options {
    position: absolute;
    top: 52px;
    right: 30px;
    color: white;
    height: fit-content;
    width: 160px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    animation: slideFromTop 1s ease forwards;
}

.user-login,
.admin-login {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    padding: 6px 12px;
    border-radius: 5px;
    background-color: #024D3E;
}

.user-login:hover,
.admin-login:hover {
    cursor: pointer;
    background-color: #024d3ef9;
}

.nav-links {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    right: 16%;
    font-size: 18px;
    font-weight: 400;
}
/* .nav-links a{
    color: #024d3ef9;
    text-decoration: none;
} */

/* Admin-user */
.admin-user-container{
    padding-right: 20px;
}
.admin-details{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    background-color: #026451;
    border-radius: 30px;
    padding: 4px 12px;
    color: #FFFFFF;
    font-size: 18px;
    }
    .admin-details span:nth-child(2){
    background-color: #FFFFFF;
    color: #000000;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: -5px;
    text-align: center;
    border: 1px solid #FFFFFF;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    font-size: 18px;
}
@keyframes slideFromTop {
    from {
        transform: translateY(-60%);
        z-index: -1;
    }

    to {
        transform: translateY(0%);
    }
}