.feedback-response-container {
    width: 100%;
}

.feedback-response-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.feedback-response-content-top {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feedback-response-content-dropdowns {
    display: flex;
    align-items: center;
    gap: 35px;
}

.form-control {
    all: unset !important;
    width: 100% !important;
    padding: .375rem .75rem !important;
    background-color: #E9FFF3 !important;
}

.form-control option:hover {
    cursor: pointer;
}

.feedback-response-content-searchbox div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .375rem .75rem;
    background-color: #E9FFF3 !important;
    gap: 4px;
}

.feedback-response-content-searchbox div input {
    all: unset;
}

.feedback-response-content-bottom {
    height: 100%;
    width: 100%;
}


/* Media Query */

@media screen and (max-width: 766px) {
    .feedback-response-content-top {
        width: 100%;
        align-items: flex-start;
        gap: 30px;
        padding: 20px 10px;
        flex-direction: column-reverse;
    }

    .feedback-response-content-dropdowns {
        gap: 40px;
        flex-wrap: wrap;
    }

    .feedback-response-content-dropdowns div {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .feedback-response-content-searchbox {
        width: 100%;
    }

    .feedback-response-content-searchbox div {
        justify-content: flex-start;
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .feedback-response-content-top {
        width: 100%;
        align-items: flex-start;
        gap: 30px;
        padding: 20px 10px;
        flex-direction: column-reverse;
    }

    .feedback-response-content-dropdowns {
        gap: 50px;
    }

    .feedback-response-content-dropdowns div {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .feedback-response-content-searchbox {
        width: 100%;
    }

    .feedback-response-content-searchbox div {
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .feedback-response-content-top {
        width: 100%;
        align-items: flex-start;
        gap: 30px;
        padding: 20px 10px;
    }

    .feedback-response-content-dropdowns {
        gap: 50px;
    }

    .feedback-response-content-dropdowns div {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .feedback-response-content-searchbox div {
        justify-content: flex-start;
    }
}