@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #E9FFF3;
  font-family: "Outfit", sans-serif;
}

.router-link{
  text-decoration: none;
  color: inherit;
}