.admin-container {
    width: 100%;
    height: fit-content;
}

.admin-content {
    display: flex;
    height: 100%;
}

.admin-content-sidebar {
    width: 25%;
    background-color: #FFFFFF;
    transition: all 0.3s ease-in-out;
}

.admin-sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 15px;
}

.admin-sidebar-listItem {
    color: #024d3eeb;
    padding: 6px 20px;
    border-radius: 30px;
    font-size: 20px;
    display: flex;
    gap: 6px;
    align-items: center;
}

.admin-sidebar-listItem:hover {
    cursor: pointer;
}

.active {
    background-color: #024d3eeb;
    color: #FFFFFF;
}

.admin-logout {
    width: 18%;
    position: fixed;
    bottom: 20px;
    background-color: #FFE4E4;
    color: #FF0000;
}

.vertical-line {
    border-right: 4px solid #024d3eeb;
    margin: 0px 8px;
}

.admin-content-main {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 20px;
}

/*  */
.responsive-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: #E9FFF3;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}


/* Sidebar toggle button */
.sidebar-toggle-button {
    display: none;
    position: fixed;
    top: 10px;
    right: 0px;
    z-index: 1001;
    background: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/*  */
/* Media Query */

@media screen and (max-width: 766px) {
    .admin-content-sidebar {
        display: none;
    }

    .admin-content-main {
        padding: 0px;
    }

    .sidebar-toggle-button {
        display: block;
        margin-top: -4px;
    }

    .responsive-sidebar {
        display: block;
    }

    .admin-sidebar-list .admin-logout {
        width: 100%;
        position: relative;
        bottom: 0px;
        background: none;
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .admin-content-sidebar {
        display: none;
    }

    .admin-content-main {
        padding: 0px;
    }

    .sidebar-toggle-button {
        display: block;
        margin-top: -4px;
    }

    .responsive-sidebar {
        display: block;
    }

    .admin-sidebar-list .admin-logout {
        width: 100%;
        position: relative;
        bottom: 0px;
        background: none;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .admin-content-sidebar {
        display: none;
    }

    .admin-content-main {
        padding: 0px;
    }

    .sidebar-toggle-button {
        display: block;
        margin-top: -4px;
    }

    .responsive-sidebar {
        display: block;
    }

    .admin-sidebar-list .admin-logout {
        width: 100%;
        position: relative;
        bottom: 0px;
        background: none;
    }

}